doctype html
html
	head
		title="logged"
	body(style={background:"#9DC847"})
		div(style=
			{
				background:"#103827", 
				"margin":"50px auto", 
				padding:"50px", 
				width:"300px",
				"border-radius": "10px", 
				height:"200px",
				display: "flex",
  				"align-items": "center"
			}
			)
			div(style=
				{
					margin:"0 auto",
					"text-align": "center",
					border: "1px solid #FFF3CF",
					padding: "40px",
					"text-transform": "uppercase",
					color: "#FFF3CF",
					"border-radius": "10px",
					"font-weight": "600",
				}
				) Cześć #{user_name}